# # local package
# -e .

# external requirements
ipython~=7.15.0
notebook~=6.0.3
jupyterhub~=1.1.0
jupyterlab~=2.1.4

awscli~=1.18.73
click
python-dotenv
ipywidgets
ipympl
matplotlib~=3.2.1
pandas~=1.0.4
plotly~=4.8.1
requests
scikit-image~=0.16.2
scikit-learn~=0.22.2
seaborn~=0.10.1
statsmodels~=0.11.1